{% extends 'base.html' %}

{% block content %}
<div class="header mb-4">
    <h1 class="text-center">Upload MP4 File</h1>
</div>

<!-- Flash messages for status updates -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info text-center" role="alert">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<div id="status" class="mb-3"></div>

<!-- Upload Form -->
<form method="post" enctype="multipart/form-data" onsubmit="showUploadMessage()" class="text-center">
    <div class="form-group">
        <!-- Custom file input -->
        <div class="custom-file mb-3">
            <input id="file-upload" type="file" name="file" class="custom-file-input" required onchange="updateFileName(this)">
            <label class="custom-file-label" for="file-upload">Choose File</label>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-lg">Upload and Translate</button>
</form>
{% endblock %}
